<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="user_image">
		<%= image_tag @photo.picture.url %>
	</div>
  <div class="field">
    <%= f.label :caption, 'Caption:' %>
    <%= f.text_field :caption %>
  </div>
	<div class="upload_image">
		<%= f.file_field :picture %>
	</div>
  <div class="actions">
		<% if params[:action] == "new" %>
    	<%= submit_tag("Upload Photo") %>
		<% else %>
			<span>
				<%= link_to (content_tag :button, 'Back', :type => :button), photos_path %>
			</span>	
			<span>
				<%= submit_tag("Save") %>
			</span>	
			<span>
				<%= button_to 'Delete', @photo, method: :delete, data: { confirm: 'Are you sure?' } %>
			</span>
		<% end %>
  </div>
<% end %>
