<%= image_tag(User.find(params[:user_id]).avatar(:mini)) %>
<h2 class="userLabel"><%= "#{User.find(params[:user_id]).first_name}'s Photos" %></h2>


<div id="actions">
	<span class="action">
		<%= select_tag 'size', options_for_select([["Small", :small], ["Medium", :medium], ["Large", :large]]), 
				{ :prompt => "Image Size",
					:onChange => "window.location = '#{photos_path}?size=' + this.options[this.selectedIndex].value + '&user_id=#{params[:user_id]}';" }%>
	</span>
	<span class="action">
		<%= select_tag 'sort', options_for_select([["Newest First", :newest], ["Oldest First", :oldest]]),
			{ :prompt => "Sort By",
				:onChange => "window.location = '#{photos_path}?sort=' + this.options[this.selectedIndex].value + '&user_id=#{params[:user_id]}';" } %>
	</span>
<% if @logged_in_user == @user_to_view %>
		<span class="action">
			<%= button_to 'Upload Photo', new_photo_path, :method => :get %>
		</span>
	</div>
<% else %>
	</div>
<% end %>

<table class="photos">
	<tr>
<% if @photos.count > 0 %>
	<% @photos.each do |photo| %>
		<td>
			<% if @logged_in_user == @user_to_view %>
					<%= link_to image_tag(photo.picture.url(params[:size]), :border => 0), edit_photo_path(photo) %>
			<% else %>
					<%= link_to image_tag(photo.picture.url(params[:size])), photo_path(photo) %>
			<% end %>

			<p><%= photo.caption %></p>
		</td>

		<% @photo_count = @photo_count + 1 %>

		<% if (@photo_count % @row_count) == 0 %>
			</tr>
			<tr>
		<% end %>
	<% end %>
<% else %>
		<td>No photos yet</td>
<% end %>
	</tr>
</table>
