<h2><%= "#{User.find(params[:user_id]).first_name}'s Photos" %></h2>

<% if @logged_in_user == @user_to_view %>
	<div id="buttons">
		<span>
			<%= select_tag 'size', options_for_select([["Small", :small], ["Medium", :medium], ["Large", :large]]), 
					{ :prompt => "Image Size" } %>		
		</span>
		<span>
			<%= select_tag 'sort', options_for_select([["Sort By", 0], ["Most Recent First", 1], ["Oldest First", 2]]) %>
		</span>
		<span>
			<%= button_to 'Upload Photo', new_photo_path, :method => :get %>
		</span>
	</div>
<% end %>

<% if @photos.count > 0 %>
	<% @photos.each do |photo| %>
		<% if @logged_in_user == @user_to_view %>
			<%= link_to image_tag(photo.picture.url(:medium), :border => 0), edit_photo_path(photo) %>
		<% else %>
			<%= image_tag(photo.picture.url(:medium)) %>
		<% end %>
		<p><%= photo.caption %></p>
	<% end %>
<% else %>
	<p>No photos yet</p>
<% end %>
