<%= image_tag(User.find(@photo.user_id).avatar(:mini)) %>
<h2 class="userLabel"><%= "#{User.find(@photo.user_id).first_name}'s Photo" %></h2>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="user_image">
	<% if @photo.user_id == @logged_in_user.id %>
		<%= link_to image_tag(@photo.picture.url, :border => 0), edit_photo_path(@photo) %>
	<% else %>
		<%= image_tag(@photo.picture.url) %>
	<% end %>
</div>
<div class="field">
  <p><%= @photo.caption %></p>
</div>

<div class="actions">
	<span>
		<%= link_to (content_tag :button, 'Back', :type => :button), photos_path(:user_id => @photo.user_id) %>
	</span>
</div>
