<!DOCTYPE html>
<html>
<head>
  <title>FotoShare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id] == nil %>
<p><%= link_to 'Register', register_path %></p>
<p><%= link_to 'Login', login_path %></p>
<% else %>
<p>Welcome, <%= link_to "#{@user.first_name} #{@user.last_name}", @user %></p>
<p><%= link_to 'Logout', logout_path %></p>
<% end %>

<%= yield %>

</body>
</html>
